<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2><%= @blog.title %></h2>

          <div class="post-meta text-uppercase">
            <span><%= I18n.l @blog.created_at, format: t("format.datetime_create") %></span>
            <%= link_to "Edit", edit_blog_path(I18n.locale, @blog) %>
            <div class="bookmark">
              <%= render "blogs/bookmark", blog: @blog if user_signed_in? %>
            </div>
            <span><%= t "in" %> <%= link_to @blog.category_name, blogs_path(category: @blog.category.id) %></span>
            <span><%= t "by" %> <%= link_to @blog.user_name, "" %></span>
          </div>
          <%= social_share_button_tag(@blog.title, url: "https://locahost:3000/#{I18n.locale}/blogs/#{@blog.id}", :'data-type' => 'photo', :popup => "true") %>
          <span class="st-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="blog" class="margin-bottom-50" style="background: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      <%= image_tag @blog.image.url ,
          class: "img-responsive img-centered img-slide img-project" %>
        <div class="single-blog">
          <hr>
          <article>
            <div class="post-article markdown">
              <%= markdown @blog.content %>
            </div>
          </article>
        </div>
        <hr>
        <%= render partial: "shared/like_blog",  locals: {blog: @blog, like: @like} %>
        <hr>
        <br/ >
      </div>
      <div class="col-md-4">
      <div class="sidebar-widget">
        <h4 class="sidebar-title"><%= t "categories" %></h4>
          <ul>
            <li>
            <%= link_to @blog.category.name, blogs_path(I18n.locale, category: @blog.category.id) %>
         </li>
          </ul>
        </div>
      </div>
    </div>
    <h3><%= t "blog_relate" %></h3>
    <%= render "related/related_post", object: "blog" %>
  </div>
</section>
