<div class="container">
  <% if @users.present? %>
    <%= search_form_for @q, id: "search_form" do |f| %>
      <div class="ui input icon search-form">
        <%= f.search_field :name_or_email_cont, placeholder: (t".search_user"),
          id: "user_search" %>
      </div>
      <%= f.submit (t "search"), class: "ui blue button" %>
    <% end %>

    <% if @project %>
      <div class="ui link cards" id= "users-<%= @project.id %>">
    <% else %>
      <div class="ui link cards" id= "users">
    <% end %>
      <%= render @users %>
    </div>

    <center>
      <%= link_to_next_page @users, (t "load_more"), remote: true, id: "load_more",
        class: "btn btn-primary" %>
    </center>
  <% else %>
    <p><%= t ".no_user_found" %> <%= params[:search] %>.</p>
  <% end %>
</div>
