<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_for [:admin, @user] do |f| %>
      <%= render "shared/error_messages",object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>


      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      </br>
      <%= f.submit "Save", class: "ui primary button add-account-button" %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
