<div class="container">
  <h2><%= t "add_member" %></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><%= t "member" %></a></li>
    <li><a data-toggle="tab" href="#menu2"><%= t "member_of_project" %></a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= render "shared/list_user"%>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div id="project-members-<%= @project.id %>" class="ui link cards">
        <%= render @participates %>
      </div>
    </div>
  </div>
</div>
