<div id="portfolio" class="bg-light-gray margin-top-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><%= t "portfolio" %></h2>
        <h3 class="section-subheading text-muted">
          <%= t "introduce.portfolio" %>
        </h3>
      </div>
    </div>
    <hr />
    <div class="search-projects">
    <%= search_form_for @q, url: projects_path do |f| %>
    <%= f.search_field :name_cont,
      placeholder: t(".placeholder"), class: "form-control" %>
    <% end %>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="portfolio-wrapper" id="portfolio1">
        <div class="portfolio-items">
          <%= render @projects %>
        </div>
      </div>
    </div>
    <div class="center">
      <%= paginate @projects, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
<div class="portfolio-show"></div>
