<div id="portfolio" class="bg-light-gray margin-top-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><%= t "portfolio" %></h2>
        <h3 class="section-subheading text-muted">
          <%= t "introduce.portfolio" %>
        </h3>
      </div>
    </div>
    <hr />
    <div class="ui input focus">
      <div class="col-lg-6 text-center">
        <%= search_form_for @q, url: projects_path do |f| %>
          <%= f.search_field :name_cont,
            placeholder: t("placeholder"), class: "ui input form-search-project" %>
        <% end %>
      </div>
      <div class="col-lg-6">
       <%= select_tag :category_id, options_for_select(Category.project.map {|project| [project.name, project.id] }.insert(0, nil), :include_blank => true),
         class: "ui search dropdown category-project" %>
         <i class="search icon"></i>
      </div>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="portfolio-wrapper" id="portfolio1">
        <div class="portfolio-items">
          <%= render @projects %>
        </div>
      </div>
    </div>
    <div class="center">
      <%= paginate @projects, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
<div class="portfolio-show"></div>
