<div class="col-md-12">
  <h2 class="add-category">Add certification</h2>
  <div class="col-md-6">
    <%= form_for [:admin, @certification] do |f| %>
      <%= render "shared/error_messages",object: @certification %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
      <div class="file-field-user">
        image:
          <%= f.file_field :image %>
      </div>

      </br>
      <%= f.submit "Save", class: "ui primary button add-category-button" %>
    <% end %>
  </div>
  <div class="col-md-6"></div>
</div>
