<table class="table table-condensed">
  <tbody>
  <% techniques.each do |technique| %>
    <tr>
      <td id="technique-name-<%= technique.id %>"><%= technique.skill %></td>
      <td><%= link_to t(".edit"), "javascript:;", data: {id: technique.id},
        class: "btn primary techniques-edit" %>
          <%= link_to t(".delete"), "javascript:;", data: {id: technique.id},
        class: "btn danger techniques-edit" %>
        <%= link_to t(".see_more"), "javascript:;", data: {id: technique.id},
        class: "btn info techniques-edit" %>
        </td>

    </tr>

  <% end %>
  </tbody>
</table>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td><%= link_to t(".add"), "javascript:;", data: {id: @category.id},
        class: "btn info techniques-add" %></td>
      <td><div id="add-technique-<%= @category.id %>"></div></td>
    </tr>
  </tbody>
</table>
