<table class="ui inverted grey table table-condensed-<%= @category.id %>">
  <tbody>
  <% techniques.each do |technique| %>
    <tr id="techniques-<%= technique.id %>">
      <td id="technique-name-<%= technique.id %>"><label><%= technique.skill %></label></td>
      <td><%= link_to t(".edit"), "javascript:;", data: {id: technique.id},
        class: "btn btn-primary techniques-edit" %>
          <%= link_to t(".delete"), "javascript:;", data: {id: technique.id},
        class: "btn btn-danger techniques-delete" %>
        </td>
    </tr>
  <% end %>
    <tr>
       <td><%= link_to t(".hidden"), "javascript:;", data: {id: @category.id},
        class: "btn btn-info techniques-hidden" %></td>
    </tr>
  </tbody>
</table>
<table class="table table-condensed-<%= @category.id %>">
  <tbody>
    <tr>
      <td><%= link_to t(".add"), "javascript:;", data: {id: @category.id},
        class: "btn btn-success techniques-add" %></td>
      <td><div id="add-technique-<%= @category.id %>"></div></td>
    </tr>
  </tbody>
</table>
