<div class="col-md-10">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">All users</a></li>
  <li><a data-toggle="tab" href="#menu1">Categories of User</a></li>
  <li><a data-toggle="tab" href="#menu2">Certificaions</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>All User</h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %><%= " (admin)" if user.has_role? :admin %></td>
        <td><%= user.email %></td>
        <td></td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>All Techniques of users </h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>see all techniques of Category</th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td></td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <%= paginate @categories %>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>All Certifications</h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.name %></td>
        <td><%= certification.description %></td>
        <td></td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <%= paginate @certifications %>
  </div>
</div>
</div>